.DS_Store

### Xcode Patch ###
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcworkspace/contents.xcworkspacedata
/*.gcno
/*.xcodeproj
xcuserdata/

# Swift Package Manager
Packages/
Package.pins
Package.resolved
.swiftpm
/.build

### CocoaPods ###
*.lock
Example/Pods

### fastlane ###
fastlane/
Example/Example.xcodeproj/xcshareddata/xcbaselines